<tabset id="postbox" class="panel">
  <tab>
    <tab-heading>
      <i class="fa fa-edit"></i> Note
    </tab-heading>
    <textarea class="form-control" ng-model="note.text"></textarea>
    <tags-input ng-model="groupTags" placeholder="Add a group">
      <auto-complete source="loadGroups($query)" min-length="1"></auto-complete>
    </tags-input>
    <div class="note-attachments">
      <ul>
        <li ng-repeat="attachment in uploader.queue">
          <span>{{attachment.file.name}}</span>
          <div ng-show="uploader.isHTML5" class="pull-right">
            <div class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': attachment.progress + '%' }" style="width: 0%;"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="row note-attachment">
      <div class="postbox-file-upload">
        <input type="file" nv-file-select uploader="uploader" multiple />
      </div>
      <div class="note-attachment col-md-8 pull-left">
        <a class="fa fa-file" tooltip="File"></a>
        <a href class="fa fa-link" tooltip="Link"></a>
        <a href class="fa fa-book" tooltip="Library"></a>
      </div>
      <div class="col-md-2 pull-right">
        <button class="btn btn-success" ng-click="postNote()">Send</button>
      </div>
    </div>
  </tab>
  <tab>
    <tab-heading>
      <i class="fa fa-question-circle"></i> Quiz
    </tab-heading>
    <button class="btn btn-success">Create a Quiz</button> or <a href="">Load from collection</a>

  </tab>
  <tab>
    <tab-heading>
      <i class="fa fa-bar-chart"></i> Poll
    </tab-heading>
    <input type="text" class="form-control" placeholder="Question..."/>
  </tab>
</tabset>