<tabset id="postbox" class="panel">
  <tab>
    <tab-heading>
      <i class="fa fa-edit"></i> {{'note' | translate}}
    </tab-heading>
    <form name="postNoteForm">
      <md-input-container>
        <textarea ng-model="note.text" aria-label="Post content" columns="1" required name="noteText"></textarea>
      </md-input-container>
      <md-chips ng-model="note.groups">
        <md-chip-template>
          <span>{{$chip.name}}</span>
        </md-chip-template>
        <md-autocomplete md-search-text="searchText" md-items="item in loadGroups(searchText)" md-item-text="item.name" placeholder="{{'add.a.group' | translate}}">
          <span md-highlight-text="searchText">{{item.name}}</span>
        </md-autocomplete>
      </md-chips>

      <div class="note-attachments">
        <ul>
          <li ng-repeat="attachment in uploader.queue">
            <span>{{attachment.file.name}}</span>
            <div ng-show="uploader.isHTML5" class="pull-right">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': attachment.progress + '%' }" style="width: 0%;"></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="attachment-box">
        <div class="postbox-file-upload">
          <input type="file" nv-file-select uploader="uploader" multiple />
        </div>
        <div class="note-attachment">
          <div class="pull-left attachment-buttons">
            <a class="fa fa-file" tooltip="{{'file' | translate}}"></a>
            <a href class="fa fa-link" tooltip="{{'link' | translate}}"></a>
            <a href class="fa fa-book" tooltip="{{'library' | translate}}"></a>
          </div>
          <button class="btn btn-success pull-right" ng-click="postNote()" ng-disabled="postNoteForm.noteText.$invalid || note.groups.length === 0">{{'send' | translate}}</button>
        </div>
      </div>
    </form>
  </tab>
  <tab>
    <tab-heading>
      <i class="fa fa-question-circle"></i> {{'quiz' | translate}}
    </tab-heading>
    <button class="btn btn-success">{{'create.a.quiz' | translate}}</button> {{'or' | translate}} <a href="">{{'load.from.collection' | translate}}</a>

  </tab>
  <tab>
    <tab-heading>
      <i class="fa fa-bar-chart"></i> {{'poll' | translate}}
    </tab-heading>
    <input type="text" class="form-control" placeholder="{{'question' | translate}}..."/>
  </tab>
</tabset>