<div class="panel panel-green">
  <div class="panel-heading">
    <div class="media">
      <div class="media-left">
        <a ui-sref="profile({profileId: feed.author._id})">
          <img ng-src="{{feed.author.avatar?BaseUrl + '/public/users/50x50/' + feed.author.avatar: 'images/default-user-50x50.png'}}"/>
        </a>
      </div>
      <div class="media-body">
        <div class="pull-right post-control">
          <span class="dropdown" dropdown on-toggle="toggled(open)">
            <a href class="dropdown-toggle" dropdown-toggle>
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a class="post-action" ng-click="delete()">Delete</a></li>
              <li><a class="post-action" ng-click="edit()">Edit</a></li>
            </ul>
          </span>
        </div>
        <div><a ui-sref="profile({profileId: feed.author._id})">{{feed.author.name}}</a> {{'to' | translate}} <a ng-repeat="group in feed.groups" href="#/groups/{{group._id}}">{{group.name}} </a></div>
        <div><span am-time-ago="feed.created"></span></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>{{feed.text}}</p>
  </div>
  <div class="attachments">
    <ul>
      <li ng-repeat="attachment in feed.attachments" class="media">
        <div class="media-left"><a ng-click="preview(attachment)" class="fa {{fileThumbnail(attachment.extension)}} attachment-icon"></a></div>
        <div class="media-body">
          <div>{{attachment.name}}</div>
          <div><span>{{attachment.extension}}</span> <span>Size: {{attachment.size}}</span></div>
          <div>
            <a class="fa fa-eye" ng-click="preview(attachment)" tooltip="Preview"></a>
            <a class="fa fa-download" tooltip="Download"></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="comment-bar">
    <i class="fa fa-comments"></i>
    <a href ng-click="showComments()">{{feed.comments.length}} {{'comments' | translate}}</a>
  </div>
  <ul class="comments">
    <li ng-repeat="comment in feed.comments" class="media comment" ng-hide="!showAllComment && $index >= 3">
      <div class="media-left">
        <a ui-sref="profile({profileId: comment.author._id})"><img ng-src="{{comment.author.avatar?BaseUrl + '/public/users/50x50/' + comment.author.avatar: 'images/default-user.png'}}"/></a>
      </div>
      <div class="media-body">
        <a ui-sref="profile({profileId: comment.author._id})" class="pull-left">{{comment.author.name}} </a> &nbsp; <span am-time-ago="comment.created"></span>
        <div> {{comment.text}}</div>
      </div>
    </li>
  </ul>
  <div class="panel-footer">
    <md-input-container>
      <input ng-model="comment.text" ng-keypress="sendComment($event)" aria-label="Comment">
    </md-input-container>
  </div>
</div>