/* app css stylesheet */
$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$primary-color: #26a69a;

html{
  font-family: "sans-serif";
}

body{
  font-family: $font;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 5px;
}

ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.form-control{
  margin: 15px 0;
}

#overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  display: none;
  z-index: 2000;
}
#overlay .overlay-content {
  width: 100%;
  height: 100%;
}

#overlay .btn-close{
  x-index: 1001;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
  background-color: #009688;
  font-size: 20pt;
  vertical-align: middle;
}

#overlay .btn-close > a {
  color: #ffffff;
}

.bld-content{
  margin-top: 80px;
  margin-left: 80px;
}

/* Sidebar */
.sidebar{
  z-index: 1031;
  background: #242628;
  border-right: 1px solid #131415;
  width: 260px;
  left: -200px;
  top:60px;
  bottom: 0;
  position: fixed;

  span{
    color: #ffffff;
  }

  .sidebar-toggle{
    display: block;
    cursor: pointer;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 60px;
    height: 60px;
    background-color: #FB5557;

    .toggle-icon{
      display: block;
      width: 100%;
      height: 100%;
      background: url("../images/sidebar-toggler.png") no-repeat center;
    }
  }

  .chat-search{
    padding: 10px;
  }

  .chat-buddy{
    border-bottom: 1px solid #2e3033;

    >a{
      display: block;
      padding: 14px 0 14px 10px;

      .status{
        display: inline-block;
        width: 8px;
        height: 8px;
        position: absolute;
        right: 10px;
        margin-top: 14px;
        z-index: 10;
        border-radius: 50%;
      }

      .status.online{
        background: #8bbf61;
      }

      .status.away{
        background: #ab7a4b;
      }

      .avatar{
        width: 40px;
      }

      .buddy-name{
        color: #efefef;
      }

      small{
        color: #bcc3c1;
      }
    }
  }
}

.panel{
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.panel.panel-default{
  border: 1px solid #e2e9e6;

  .panel-heading{
    background-color: #fff;
    border-bottom: 1px solid #e2e9e6;
  }
}

.panel-green {
  border: 1px solid #e2e9e6;

  .panel-heading {
    padding: 0;
    background: #26a69a;
    border-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    .media{
      overflow: visible;
      img{
        width: 50px;
        height: 50px;
      }
      .media-body{
        overflow: visible;
        a {
          color: white;
        }
        .post-control {
          margin: 15px;

          a.post-action{
            color: #000;
          }
        }
      }
    }
  }

  .panel-heading.title{
    font-size: 18px;
    padding: 10px;

    a{
      margin-top: 5px;
      color: #fff;
    }
  }
}

.panel-footer {
  border-top:none;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.sidebar-title{
  color: #ffffff;
  font-weight: bold;
  margin: 5px 10px;
  padding: 5px;
}

.list-group {
  margin: 0;

  .list-group-item{
    position: relative;
    display: block;
    margin-bottom: 10px;

    a {
      color: #ffffff;
      display: block;
      width: 100%;
      height: 30px;
    }
  }

  li .hex {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid transparent;
    border-radius: 2px;
    background: #336699;
    margin: 3px 10px 0 0;
  }
}

#postbox{
  .postbox-body{
    padding: 10px;
  }

  textarea{
    resize: none;
    padding: 0 10px 10px 10px;
    margin: 0 10px;
    width: calc(100% - 20px);
  }

  tags-input .tags{
    border: none;
    box-shadow: none;
    padding: 0 10px;
  }

  .note-attachment{
    margin: 0 10px;
    position: relative;
    height: 55px;
  }

  .note-attachment a{
    display: inline-block;
    padding: 5px;
  }

  .attachment-buttons{
    margin-top: 15px;
  }

  .progress{
    width: 100px;
  }

  .postbox-file-upload{
    opacity: 0;
    position: absolute;
    left: 8px;
    width: 25px;
    z-index: 10;
    overflow:hidden;
    margin: 15px 0 0 10px;
  }
}

.comment-bar{
  padding: 3px 5px;
  background: #f5f5f5;
  font-weight: 500;
  font-size: 12px;
  color: #c2c2c2;
}

.comments{
  border-top: 1px solid #e2e9e6;
}

.comment{
  border-bottom: 1px solid #f5f5f5;
  background: #fff;
  padding: 5px;

  .media-left{
    img{
      with: 50px;
      height: 50px;
    }
  }
}

.attachments{
  ul{
    margin: 10px;
  }
  .media{
    .attachment-icon{
      font-size: 30pt;
    }
  }
}

.profile{

  .cover-wrapper{
    position: relative;
    height: 190px;
  }

  .cover{
    height: 135px;
    overflow: hidden;
  }

  .cover img{
    width: 100%;
    height: auto;
  }

  .avatar{
    position: absolute;
    bottom: 0;
    left: 20px;
  }
  .avatar img{
    width: 110px;
    height: 110px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #fff;
  }

  .profile-name{
    position: absolute;
    left: 140px;
    bottom: 60px;
  }

  .profile-name a{
    font-size: 16pt;
    color:#fff;
    font-weight: bold;
  }

  .btn-edit{
    margin: 0;
  }
}

.switch-label{
  margin-top: 15px;
}

.group-members{
  .member{
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: solid 1px #ccc;
  }
}

.group-cover{
  border: 1px solid #e2e9e6;
  margin-bottom: 20px;
}

.group-info{
  background-color: #26a69a;
  color: #ffffff;
  padding: 10px 0;
}

.group-toolbar{
  padding: 0 5px;
}

.group-toolbar > li{
  display: inline-block;
}

.group-toolbar > li > a{
  display: block;
  padding: 5px 15px;
}

.group-toolbar > li > a.active{
  border-bottom: 4px solid #26a69a;
}