<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="BlendEdxApp" ng-controller="IndexController" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="BlendEdxApp" ng-controller="IndexController" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="BlendEdxApp" ng-controller="IndexController" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="BlendEdxApp" ng-controller="IndexController" class="no-js"> <!--<![endif]-->

<head lang="en">
  <meta charset="UTF-8">
  <title>BlendEdx</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/roboto.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/material.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-material-design/dist/css/ripples.min.css">
  <link rel="stylesheet" href="bower_components/toastr/toastr.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row top-bar">
      <div class="col-md-12">
        <div class="container">
          <div class="row">
            <form id="login-form" class="pull-right form-inline">
              <div class="form-group">
                <div>
                  <input type="text" placeholder="Email" ng-model="loginModel.email"/>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <input type="password" placeholder="Password" ng-model="loginModel.password"/>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-success" ng-click="login()">
                  <span class="glyphicon glyphicon-log-in"></span>
                  <span>Login</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-12">
        <div class="container">
          <div class="row">

            <div class="col-md-2"></div>
            <div class="col-md-6 features">
              <div class="row">
                <div class="col-md-6">
                  <img src="images/lesson-design.jpg"/>
                </div>
                <div class="col-md-6">
                  <img src="images/cms.jpg"/>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <img src="images/progress-tracking.jpg"/>
                </div>
                <div class="col-md-6">
                  <img src="images/learning-path.jpg"/>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h4>Sign up</h4>
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Email:</label>
                  <div class="col-sm-10" >
                    <input type="text" placeholder="Email" ng-model="registerModel.email"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Password:</label>
                  <div class="col-sm-10" >
                    <input type="password" placeholder="Password" ng-model="registerModel.password"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Name:</label>
                  <div class="col-sm-10" >
                    <input type="text" placeholder="Full name" ng-model="registerModel.name"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2" control-label>Role:</label>
                  <div class="col-sm-10">
                    <select ng-model="registerModel.role">
                      <option value="student">Student</option>
                      <option value="teacher">Teacher</option>
                      <option value="parent">Parent</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12" >
                    <button class="btn btn-success" ng-click="register()">
                      <span class="glyphicon glyphicon-log-in"></span>
                      <span>Sign up</span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer">
      <div class="text-center">BlendEdx 2015</div>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/lodash/dist/lodash.compat.min.js"></script>
  <script src="bower_components/restangular/dist/restangular.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
  <script src="bower_components/toastr/toastr.min.js"></script>

  <script src="js/index.js"></script>
  <script src="js/services/user-service.js"></script>
</body>
</html>